USE [master]
GO
/****** Object:  Database [TRAVEL_AGENCY]    Script Date: 7/17/2025 4:52:21 PM ******/
CREATE DATABASE [TRAVEL_AGENCY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRAVEL_AGENCY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRAVEL_AGENCY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRAVEL_AGENCY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRAVEL_AGENCY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRAVEL_AGENCY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRAVEL_AGENCY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 7/17/2025 4:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[TRAVEL_PACKAGE] [varchar](50) NOT NULL,
	[USER] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 7/17/2025 4:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESTINATIONS]    Script Date: 7/17/2025 4:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTINATIONS](
	[COUNTRY] [varchar](50) NOT NULL,
	[TRAVEL_PACKAGE] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAVEL_PACKAGE]    Script Date: 7/17/2025 4:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAVEL_PACKAGE](
	[TITLE] [varchar](50) NOT NULL,
	[PRICE] [int] NOT NULL,
	[DESCRIPTION] [varchar](max) NULL,
 CONSTRAINT [PK_TRAVEL_PACKAGE] PRIMARY KEY CLUSTERED 
(
	[TITLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 7/17/2025 4:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](max) NOT NULL,
	[ROLE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_TRAVEL_PACKAGE1] FOREIGN KEY([TRAVEL_PACKAGE])
REFERENCES [dbo].[TRAVEL_PACKAGE] ([TITLE])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_TRAVEL_PACKAGE1]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_USER] FOREIGN KEY([USER])
REFERENCES [dbo].[USER] ([USERNAME])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_USER]
GO
ALTER TABLE [dbo].[DESTINATIONS]  WITH CHECK ADD  CONSTRAINT [FK_DESTINATIONS_COUNTRY] FOREIGN KEY([COUNTRY])
REFERENCES [dbo].[COUNTRY] ([NAME])
GO
ALTER TABLE [dbo].[DESTINATIONS] CHECK CONSTRAINT [FK_DESTINATIONS_COUNTRY]
GO
ALTER TABLE [dbo].[DESTINATIONS]  WITH CHECK ADD  CONSTRAINT [FK_DESTINATIONS_TRAVEL_PACKAGE] FOREIGN KEY([TRAVEL_PACKAGE])
REFERENCES [dbo].[TRAVEL_PACKAGE] ([TITLE])
GO
ALTER TABLE [dbo].[DESTINATIONS] CHECK CONSTRAINT [FK_DESTINATIONS_TRAVEL_PACKAGE]
GO
USE [master]
GO
